<!DOCTYPE html>
<html>
    <head>
        <link rel='icon' href='/img/weather.png'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This application is developed by Andrew Mead. It uses data from mapbox for longitude.latitude values and weatherstack to fetch the weather details.
            </p>
            <img class='portrait' src='/img/i.jpeg'>
        </div>
        {{>footer}}
    </body>
</html>